h2{
    font-size: 1.5rem;
    color: white;
    margin-left: 5%;
    margin-bottom: 4%;
    font-weight: bold;
}

.descr ul{
    margin-top: 1%;
    margin-bottom: 2%;
}

.descr {
    margin-left: 12%;
}

