#postsOverview{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#postsOverview .post{
width: 50%;
}

.post figcaption{
    color: #D4AF37;
    font-weight: bold;
    margin-bottom: 2%;
}
.hidden{display: none;}

.closePost{
    font-weight: bold;
    color: #D4AF37;
}

p{
    margin-bottom: 1%;
}
img{
    width: 80%;
}

.postLink{
    color: white;
    text-decoration: none;
}

.postLink:visited{
    text-decoration: none;
    color: white;
}