body{
    background-color: #302f2f;
    color: white;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

.navTitle {
    font-size: 2rem;
    color: #D4AF37;
    font-family: 'Graduate';
    display: inline;
    margin-left: 10px;
}

.navbar {
    overflow: hidden;
    padding: 5px;
    width: 100%;
    float: right;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.tabs {
    float: right;

}
