h2{
    font-size: 1.5rem;
    color: white;
    margin-left: 5%;
    margin-bottom: 4%;
    font-weight: bold;
}



.grid-container {
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "Photo1 Photo1 Photo3 Photo3"
    "Photo2 Photo2 Photo4 Photo4"
    "Photo2 Photo2 Photo5 Photo5"
    "Photo6 Photo6 Photo6 Photo6"
    "Photo6 Photo6 Photo6 Photo6";
}




.Photo1 {
    grid-area: Photo1;
}

.Photo2 {
    grid-area: Photo2;
    margin-top: 40%;
}

.Photo2 img{

}
#old{
    height: 40%;

}

.Photo3 {
    grid-area: Photo3;
}

.Photo3 img {
    height: 100%
}

.Photo4 {
    grid-area: Photo4;
}

.Photo5 {
    grid-area: Photo5;
}

.Photo6 {
    grid-area: Photo6;
    text-align: center;
}
#bottom{
    width: 80%;
    height: 40%;
}

.photo img {
    width: 90%;
    height: 60%;
}
.photo img{
    border: 8px solid white;
}

.info{
    width: 90%;
}

.date{
    float: right;
}