body {
    background-color: #302f2f;
    color: white;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.welcome {
    background-image: url("../images/coverNoText.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -330px;
}

.scroll {
    color: white;
    text-decoration: none;
    top: 80%;
    left: 48%;
    position: absolute;


}

.scroll {
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll:before {
    position: absolute;
    transform: rotate(-45deg);
    display: block;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

#wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60vw 40vw;

    -ms-grid-rows: auto;
    grid-template-rows: auto;
    height: 100vh;
    scroll-behavior: smooth;
}

#part1 {
    height: 150vh;
}

#part1 #next-page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#part1 #next-page {
    font-size: 10rem;
    font-weight: bold;
    font-style: unset;
    color: white;
    text-decoration: unset;
}

#part2 {
    height: 100vh;
}


.logo {

    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-family: 'Graduate';
    font-size: 7rem;
    color: #D4AF37;
    position: absolute;
    top: 30%;
    left: 27%;
    border: 8px white solid;
    padding: 5%;
    transform: translate(-50%, -50%);
}

.slogan {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 80%;
    left: 37%;
    font-variant: small-caps;
    font-size: 3rem;

    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 85%;
    left: 45%;
    font-size: 1.3rem;
    background-color: transparent;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 1%;

    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button:focus {
    border: none;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}


.serviceOverview {
    display: flex;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

.serviceOverview img:first-child {
    width: 90px;

}

.serviceOverview img {
    width: 110px;
}

.serviceOverview figure {
    width: 20%;
    text-align: center;
    margin-left: 10%;
    border: 4px solid #D4AF37;
    padding: 10px;
}

.serviceOverview figure:first-child {
    margin-left: 0;
}

.serviceOverview figcaption {
    margin-top: 1%;
}

.buttonOverview {

    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    width: 100%;
    text-align: center;
}

.buttonOverview a:last-child {
    margin-left: 5%;
}


.abutton {
    border: none;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 25px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;

}

.abutton:hover{
    border: 2px solid white;
    padding: 1%;
}


